.new-tweet {
  width: 145%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

form {
  width: 60%;
}

label {
  display: flex;
  align-items: flex-end;
  border-bottom: black;
}

textarea {
  width: 100%;
  border: none;
  border-bottom: 2px solid black;
  border-width: thick;
  background: transparent;
  outline: none; 
}

div {
  display: flex;
  justify-content: space-between;
}

button {
  font-family: Bungee;
  color: aliceblue;
  background-color: cornflowerblue;
}

output {
  font-family: Bungee;
}

.counter {
 color: black;
}

.too-long, .empty {
  display: none;
  width: 60%;
  border: 2px solid red;
  margin: auto;
  color: red;
}


